[submodule "GameCube.Core"]
	path = GameCube.Core
	url = ../GameCube.Core.git
[submodule "GameCube.GFZ"]
	path = GameCube.GFZ
	url = ../GameCube.GFZ.git
[submodule "Manifold.Core"]
	path = Manifold.Core
	url = ../Manifold.Core.git
[submodule "GxUtils"]
	path = GxUtils
	url = ../GxUtils.git
[submodule "Unity.Mathematics"]
	path = Unity.Mathematics
	url = https://github.com/Unity-Technologies/Unity.Mathematics.git
[submodule "GameCube.AmusementVision"]
	path = GameCube.AmusementVision
	url = ../GameCube.AmusementVision.git
